*{
    background-color: lightgray;
    text-align: center;
}
#quote{
    text-align: center;
    font-size: 25px;
    
}
#author{
    text-align: center;
   color: cadetblue;
   font-size: 40px;
}
.title{
    font-size: 50px;
    text-align: center;
}
#btn{
    background-color: aliceblue;
  height: 60px;
  width: 150px;
  border-radius: 60px;
}